# === dbt artifacts ===
target/
dbt_packages/
dbt_modules/
logs/

# === Segurança (NUNCA COMMITAR) ===
profiles.yml
.env

# === Python / Ambientes Virtuais ===
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
dist/

# === IDEs / Editores ===
.vscode/
.idea/
*.swp
*.swo

# === Sistema Operacional ===
.DS_Store
Thumbs.db
.ipynb_checkpoints/